<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BudGest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="js/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="budGestApp" ng-controller="NavbarCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand padding-5" href="#/">
            <img class="icon" src="images/budget-logo.png">
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BudGest</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{'active' : $route.current.activetab == 'budget'}"><a href="#/budget">Budget</a></li>
            <li ng-class="{'active' : $route.current.activetab == 'event'}"><a href="#/event">Événement</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-show="user.personId">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.firstName}} {{user.lastName}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><button class="btn btn-default btn-xs flat-bottom" ng-click="myAccount()">
                  <i class="glyphicon glyphicon-cog"></i>&nbspMon Compte
                </button></li>
                <li role="separator" class="divider"></li>
                <li><button class="btn btn-danger btn-xs flat-top" ng-click="logout()">
                  <i class="glyphicon glyphicon-log-out"></i>&nbspDéconnexion
                </button></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="alert alert-danger alert-dismissible flat-left flat-right margin-top-less-20" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêts.</strong>
    </div>
    <div class="container-fluid">
      <div ng-view=""></div>
    </div>

    <div class="footer navbar-fixed-bottom grey">
      <div class="container footer-custom">
        Budgest 2016 - All rights reserved
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="js/jquery/dist/jquery.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/angular-animate/angular-animate.js"></script>
    <script src="js/angular-cookies/angular-cookies.js"></script>
    <script src="js/angular-resource/angular-resource.js"></script>
    <script src="js/angular-route/angular-route.js"></script>
    <script src="js/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/angular-touch/angular-touch.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/controllers/mainController.js"></script>
        <script src="scripts/controllers/budgetController.js"></script>
        <script src="scripts/controllers/eventController.js"></script>
        <script src="scripts/controllers/navbarController.js"></script>
        <script src="scripts/controllers/personController.js"></script>

        <script src="scripts/services/personService.js"></script>
        <script src="scripts/services/budgetService.js"></script>
        <script src="scripts/services/eventService.js"></script>
        <script src="scripts/services/invitationService.js"></script>
  </body>
</html>
