<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Budget</li>
</ol>

<p>Liste des budgets : </p>
<style>
    input.ng-touched.ng-invalid {
        border-color: red;
    }
</style>
<div class="col-md-8">
    <div ng-hide="data_error">Une erreur est survenue lors de la récupération des données.</div>

    <div class="container-fluid" ng-hide="data_success">
        <p>Rechercher un budget: <input ng-model="query"></p>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Détails</th>
            </tr>
            <tr ng-repeat="budgest in budgets | filter:query">
                <td>{{budgest.budgetId}}</td>
                <td>{{budgest.name}}</td>
                <td>{{budgest.globalAmount}}</td>
                <td><a href="#/budgests/{{budgest.budgetId}}"><button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-info-sign"></span> Détails
                </button></a></td>
            </tr>
        </table>
    </div>
</div>


<div ng-controller="addBudget" class="col-md-4">
    <!--ng-show="budgest-add" -->
    <p>Ajouter un nouveau budget :</p>

    <form novalidate role="form" name="myForm">
        <div class="form-group">
            <label for="user">Utilisateur : </label>
            <!--input type="text" ng-model="budget.user" required class="form-control" id="user"-->
            <select name="repeatSelect" id="user" ng-model="budget.user" required class="form-control">
                <option ng-repeat="person in persons" value="{{person.personId}}">{{person.firstName}} {{person.lastName}}</option>
            </select>

        </div>
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" ng-model="budget.name" required class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="global_amount">Montant :</label>
            <input type="numeric" ng-model="budget.global_amount" required class="form-control" id="global_amount">

        </div>
        <div role="alert">
        <span class="error" ng-show="myForm.$error.required">
        Au moins un champ est vide !</span>
        </div>

        <button type="button" class="btn btn-default" ng-click="reset()">Annuler</button>
        <button type="submit" class="btn btn-default" ng-click="update(budget)" ng-disabled="myForm.$invalid">Valider</button>
    </form>


    <!-- DEBUG VIEW
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
    <pre>budget = {{budget | json}}</pre>
    <pre>dataObj = {{dataObj | json}}</pre>
    -->

</div>