<div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-4">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Événements
                    <button class="btn btn-xs btn-warning pull-right-cp" data-toggle="modal" data-target="#eventCreationModal">
                        <i class="glyphicon glyphicon-plus"></i>&nbspNouvel Événement
                    </button>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-repeat="event in person.events | orderBy:'name'" ng-click="sendToDetailView(event)">
                        <td>{{event.name}}</td>
                        <td>{{event.amount}}&nbsp;€</td>
                        <td title="participants"><i class="fa fa-child" aria-hidden="true"></i>&nbsp;{{event.atendees.length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-warning" ng-show="eventInvitations.length != 0">
            <div class="panel-heading">
                <h3 class="panel-title">Invitations</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-repeat="eventInvitation in eventInvitations">
                        <td>{{eventInvitation.name}}</td>
                        <td>{{eventInvitation.amount}}</td>
                        <td>
                            <button class="btn btn-xs btn-success" ng-click="acceptInvitation($index, eventInvitation)">Rejoindre</button>
                            <button class="btn btn-xs btn-danger" ng-click="declineInvitation($index, eventInvitation)">Décliner</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-sm-8">
        <div class="panel panel-default" ng-show="detailEvent.name">
            <div class="panel-heading">
                <h3 class="panel-title">Détail
                    <button class="btn btn-xs btn-default pull-right-cp" ng-hide="detailEvent.ownerId == person.personId " ng-click="leave(detailEvent)">
                        <i class="glyphicon glyphicon-edit"></i>&nbspQuiter l'événement
                    </button>
                    <button class="btn btn-xs btn-default pull-right-cp" ng-show="!(editMode) && detailEvent.ownerId == person.personId " ng-click="edit(detailEvent)">
                        <i class="glyphicon glyphicon-edit"></i>&nbspModifier
                    </button>
                    <button class="btn btn-xs btn-default margin-left-5 pull-right-cp" ng-show="editMode" ng-click="editMode = false">
                        <i class="glyphicon glyphicon-edit"></i>&nbspAnnuler
                    </button>

                    <button class="btn btn-xs btn-success pull-right-cp flat-left" ng-show="editMode" ng-click="updateEvent(person, editedEvent)">
                        <i class="glyphicon glyphicon-edit"></i>&nbspSauvegarder
                    </button>
                    <button class="btn btn-xs btn-danger pull-right-cp flat-right" ng-show="editMode" ng-click="deleteEvent(person, detailEvent)">
                        <i class="glyphicon glyphicon-edit"></i>&nbspSupprimer
                    </button>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div>
                        <h3 ng-hide="editMode">{{detailEvent.name}}&nbsp;<span class="label label-danger">{{detailEvent.category}}</span></h3>
                        <input ng-model="editedEvent.name" ng-show="editMode"><input ng-model="editedEvent.category" ng-show="editMode">
                        <input  datepicker date-formatter class="hidden-sm hidden-md hidden-lg" type="text" ng-model="editedEvent.start" ng-show="editMode"/>
                        <input  datepicker date-formatter class="hidden-sm hidden-md hidden-lg" type="text" ng-model="editedEvent.end" ng-show="editMode"/>
                        <div>
                            <span ng-hide="editMode" ng-show="detailEvent.start">début:&nbsp;{{detailEvent.start | date:"dd/MM/yyyy"}}</span>
                            <span ng-show="detailEvent.start && !editMode">&nbsp;-&nbsp; </span>
                            <span ng-show ="detailEvent.end" ng-hide="editMode">fin:&nbsp;{{detailEvent.end | date:"dd/MM/yyyy"}}</span>
                            <input datepicker date-formatter  class="hidden-xs" type="text" ng-model="editedEvent.start" ng-show="editMode"/>
                            <input datepicker date-formatter class="hidden-xs" type="text" ng-model="editedEvent.end" ng-show="editMode"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <span>Participants</span>
                                    <button class="btn btn-xs btn-default pull-right" ng-click="triggerModal()" ng-show="!editMode">
                                        <i class="glyphicon glyphicon-plus"></i>&nbsp Inviter
                                    </button>
                                </div>
                                <!-- List group -->
                                <ul class="list-group" ng-repeat="detailPerson in detailEvent.atendees">
                                    <li class="list-group-item">
                                        {{detailPerson.lastName}} {{detailPerson.firstName}}
                                        <i class="glyphicon glyphicon glyphicon-remove pull-right pointer"
                                           title="exclure de l'événement"
                                           ng-show=" !editMode && detailEvent.ownerId == person.personId && detailEvent.ownerId != detailPerson.id"
                                           ng-click="kick(detailPerson)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <div class="circle-multiline ">
                            <span style="font-size: 2.5em" ng-hide="editMode">{{detailEvent.amount}}&nbsp€</span>
                            <input type="number" ng-model="editedEvent.amount" ng-show="editMode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventCreationModal" tabindex="-1" role="dialog" aria-labelledby="eventCreationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Création d'événement</h4>
            </div>
            <div class="modal-body">
                <form name="eventCreationForm"novalidate>
                    <div class="form-group">
                        <label class="control-label" for="inputBudgetName">Nom*</label>
                        <input type="text" id="inputBudgetName" class="form-control margin-bot-5" ng-model="modalevent.name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputBudgetCategory">Catégorie*</label>
                        <input type="text" id="inputBudgetCategory" class="form-control margin-bot-5"
                               ng-model="modalevent.category" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputBudgetAmount">Montant*</label>
                        <input type="number" id="inputBudgetAmount" class="form-control margin-bot-5" ng-model="modalevent.amount" required>
                    </div>
                    <div class ="form-group">
                        <label class="control-label"> Date de début</label>
                        <input datepicker date-formatter type="text" class="form-control" ng-model="modalevent.start" ng-pattern="/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/" required/>
                    </div>
                    <div class ="form-group">
                        <label class="control-label"> Date de fin</label>
                        <input datepicker date-formatter type="text" class="form-control" ng-model="modalevent.end" ng-pattern="/^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm"
                        ng-click="saveEvent(person)"
                        ng-disabled="eventCreationForm.$invalid">
                    <i class="glyphicon glyphicon-plus"></i>&nbspCréer l'événement
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invitModal" tabindex="-1" role="dialog" aria-labelledby="invitModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Invitation</h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-show="invitLoading">
                    <span class="col-sm-4 col-sm-offset-4">
                        <img src="/images/hourglass.svg" alt="loader">
                    </span>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in persons" ng-hide="user.personId == person.personId">
                        <td>{{user.lastName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>
                            <input type="checkbox" ng-click="addToInvitList(user.personId, detailEvent.eventId)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success pull-right" ng-click="invitPersons()" ng-valid="invitList.length != 0">Inviter</button>
            </div>
        </div>
    </div>
</div>