<div>
    <form novalidate role="form" name="addEventForm">
        <div class="form-group">
            <label for="user">Utilisateur : </label>
            <select name="repeatSelect" id="user" ng-model="event.ownerId" required class="form-control">
                <option ng-repeat="person in persons" value="{{person.personId}}">{{person.firstName}}
                    {{person.lastName}}
                </option>
            </select>

        </div>
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" ng-model="event.name" required class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="global_amount">Montant :</label>
            <input type="numeric" ng-model="event.amount" required class="form-control" id="global_amount">

        </div>
        <div role="alert">
        <span class="error" ng-show="addEventForm.$error.required">
        Au moins un champ est vide !</span>
        </div>

        <button type="button" class="btn btn-default" ng-click="reset()">Annuler</button>
        <button type="submit" class="btn btn-default" ng-click="addEvent(event)" ng-disabled="myForm.$invalid">Créer un
            évènement
        </button>
    </form>
</div>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#id</th>
            <th>Intitulé</th>
            <th>Montant</th>
            <th>Propriétaire</th>
            <th>Action</th>
        </tr>

        <tr ng-repeat="event in events">
            <th>{{event.eventId}}</th>
            <td>{{event.name}}</td>
            <td>{{event.amount}}</td>
            <td>{{event.ownerId}}</td>
            <!--<td><a href="#/persons/{{$index}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <a href="#"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <a href="#" > <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
                <button type="button" class="btn btn-danger" ng-click="delete(person)" >Supprimer cette personne</button>
            </td>-->
        </tr>
    </table>
</div>