<div class="container">
  <div class="jumbotron">
    <h1>Budgest</h1>
    <p class="lead">
      <img src="../images/budget-logo.png" alt="Budget"><br>
      Budgest, la fin des découverts
    </p>

    <form name="mainForm" class="align-left" novalidate>

      <div class="form-group" ng-class="{'has-error' : pseudoError}">
        <label class="control-label" for="inputPseudo">Utilisateur<span ng-show="registeredMode">*</span>
            <span class="red" ng-show="pseudoError"> Nom d'utilisateur déjà utilisé</span>
        </label>
        <input type="text" id="inputPseudo" class="form-control margin-bot-5" ng-model="person.username" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="inputPassword">Mot de Passe<span ng-show="registeredMode">*</span></label>
        <input type="password" id="inputPassword" class="form-control margin-bot-5" ng-model="person.password" required>

        <div class="alert alert-danger padding-5 col-sm-12" ng-show="loginError"><b>Erreur lors de la connexion:</b> Utilisateur ou Mot de passe incorrect</div>
        <div class="alert alert-success padding-5 col-sm-12" ng-show="creationSuccess"><b>Compte Créé avec succès</b></div>
      </div>

      <span ng-show="!registeredMode">
        <a class="pointer" ng-click="registeredMode = true; loginError = false; creationSuccess = false;"> Pas encore inscrit ? inscrit toi vite !</a>

        <button class="btn btn-warning pull-right" ng-click="login(person)">
          <i class="glyphicon glyphicon-log-in"></i>
          &nbsp;Connexion
        </button>
      </span>

      <span ng-show="registeredMode">

        <div class="form-group">
          <label class="control-label" for="inputFirstName">Prénom*</label>
          <input type="text" id="inputFirstName" class="form-control margin-bot-5" ng-model="person.firstName" required>
        </div>

        <div class="form-group">
          <label class="control-label" for="inputLastName">Nom*</label>
          <input type="text" id="inputLastName" class="form-control margin-bot-5" ng-model="person.lastName" required>
        </div>

        <div class="form-group" ng-class="{'has-error' : mailError || mainForm.mail.$invalid && !mainForm.mail.$pristine}">
          <label class="control-label" for="inputMail">Adresse e-mail*
            <span class="red" ng-show="mailError"> Adresse mail déjà utilisée</span>
            <span class="red" ng-show="mainForm.mail.$invalid && !mainForm.mail.$pristine"> Adresse mail non valide</span>
          </label>
          <input type="email" id="inputMail" name="mail" class="form-control margin-bot-5" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" ng-model="person.mail" required>
        </div>

        <div class="form-group">
          <label class="control-label" for="inputLastName">Numéro de téléphone</label>
          <input type="number" id="inputphoneNumber" class="form-control margin-bot-5" ng-model="person.phoneNumber">
        </div>

        <div class="form-group">
          <label class="control-label" for="inputBirthDate">Date de naissance</label>
          <input type="date" id="inputBirthDate" class="form-control margin-bot-5" ng-model="person.birthdate">
        </div>

        <button ng-click="registeredMode = false" class="btn btn-default">
          <
        </button>

        <button type="submit" class="btn btn-primary pull-right-cp"
                ng-click="register(person)"
                ng-disabled="mainForm.$invalid">
          <i class="glyphicon glyphicon-log-in"></i>
          &nbsp;Inscription
        </button>
      </span>
    </form>


  </div>
</div>
