<div class="col-md-6">
    <div ng-hide="data_error">DATA FAIL</div>

    <div class="container-fluid" ng-hide="data_success">
        <div class="row">

            <div class="col-md-12">
                <!--Body content-->
                <div class="container">
                    <div class="well">
                        <strong>Liste des personnes</strong>
                    </div>
                    <table class="table table-stripped">
                        <tr>
                            <th>#id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Pseudo</th>
                            <!--       <th>Mail</th>
                                  <th>N° Téléphone</th>
                                  <th>Date d'anniverssaire</th> -->

                        </tr>

                        <tr  ng-repeat="person in persons | filter:query" >
                            <th>{{person.personId}}</th>
                            <td>{{person.lastName}}</td>
                            <td>{{person.firstName}}</td>
                            <td>{{person.pseudo}}</td>
                            <!--      <td>{{person.mail}}</td>
                                 <td>{{person.phoneNumber}}</td>
                                 <td>{{person.birthdate}}</td> -->
                        </tr>

                    </table>
                    <!--  <tag:paginate max="15" offset="${offset}" count="{{persons.count}}"
                                   uri="/person/list" next="&raquo;" previous="&laquo;" /> -->
                </div>



            </div>
        </div>
    </div>
</div>
