<div class="col-sm-4">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Budgets
                <button class="btn btn-xs btn-warning pull-right" data-toggle="modal" data-target="#budgetCreationModal">
                    <i class="glyphicon glyphicon-plus"></i>&nbspNouveau Budget
                </button>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer" ng-repeat="budget in person.budgets" ng-click="sendToDetailView(budget)">
                    <td>{{budget.name}}</td>
                    <td>{{budget.globalAmount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Détail</h3>
        </div>
        <div class="panel-body">
            <h3>{{detailBudget.name}}</h3>
            <div class="pull-right">
                <div class="circle-multiline ">
                    <span style="font-size: 2.5em">{{detailBudget.globalAmount}}&nbsp€</span></br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="budgetCreationModal" tabindex="-1" role="dialog" aria-labelledby="budgetCreationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Création de budget</h4>
            </div>
            <div class="modal-body">
                <form name="budgetCreationForm"novalidate>
                    <div class="form-group">
                        <label class="control-label" for="inputBudgetName">Nom*</label>
                        <input type="text" id="inputBudgetName" class="form-control margin-bot-5" ng-model="modalbudget.name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputBudgetAmount">Montant*</label>
                        <input type="number" id="inputBudgetAmount" class="form-control margin-bot-5" ng-model="modalbudget.globalAmount" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm"
                        data-dismiss="modal"
                        ng-click="saveBudget(person)"
                        ng-disabled="budgetCreationForm.$invalid">
                    <i class="glyphicon glyphicon-plus"></i>&nbspCréer le budget
                </button>
            </div>
        </div>
    </div>
</div>