<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Personnes</li>
    <li><a href="#/persons/add">Ajouter</a></li>
</ol>

<div>
    <div ng-hide="data_error">DATA FAIL</div>

    <div class="container-fluid" ng-hide="data_success">
        <div class="row">


            <div >
                <!--Body content-->
                <div class="container">
                    <div class="well">


                        <div class="input-group">
                            <input ng-model="query" type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                         <button class="btn btn-default" type="button">Rechercher</button>
                                    </span>
                        </div><!-- /input-group -->




                    </div>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>#id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Pseudo</th>
                            <th>Action</th>
                        </tr>

                        <tr  ng-repeat="person in persons | filter:query" >
                            <th>{{person.personId}}</th>
                            <td>{{person.lastName}}</td>
                            <td>{{person.firstName}}</td>
                            <td>{{person.pseudo}}</td>
                            <td><a href="#/persons/{{person.personId}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                                <a href="#/persons/{{person.personId}}/update" > <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                                <a href="" ng-click="DeletePerson(person.personId)" > <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
                            </td>
                        </tr>
                    </table>

                </div>











            </div>
        </div>
    </div>
</div>

