<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/persons/">Personnes</a></li>
    <li class="active">Detail</li>
</ol>


<div>

<ul class="list-group">
    <li class="list-group-item active">Détail de la personne : </li>
    <li class="list-group-item"><strong>Nom : </strong> {{ detail.lastName  }}</li>
    <li class="list-group-item"><strong>Prénom : </strong> {{ detail.firstName  }}</li>
    <li class="list-group-item"><strong>Pseudo :</strong>  {{ detail.pseudo  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;  {{ detail.mail  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;  {{ detail.phoneNumber  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;{{ detail.birthdate | date }}</li>

</ul>


</div>




<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Budget associé à {{ person.lastName  }} {{ detail.firstName  }} </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>#id</th>
            <th>Nom</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>

        <tr  ng-repeat="budget in person.budgets | filter:query" >
            <th>{{budget.budgetId}}</th>
            <td>{{budget.name}}</td>
            <td>{{budget.globalAmount}}</td>
            <td><a href="#/budgests/{{$index}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <a href=""> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <a href=""> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
            </td>
        </tr>
    </table>
</div>

<button type="button" class="btn btn-danger" ng-click="delete(detail)" >Supprimer cette personne</button>