<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/persons/">Personnes</a></li>
    <li class="active">Detail</li>
</ol>


<div>

<ul class="list-group">
    <li class="list-group-item active">Détail de la personne : </li>
    <li class="list-group-item"><strong>Nom : </strong> {{ detail.lastName  }}</li>
    <li class="list-group-item"><strong>Prénom : </strong> {{ detail.firstName  }}</li>
    <li class="list-group-item"><strong>Pseudo :</strong>  {{ detail.pseudo  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;  {{ detail.mail  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;  {{ detail.phoneNumber  }}</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;{{ detail.birthdate | date }}</li>

</ul>


</div>



<button type="button" class="btn btn-danger" ng-click="delete(detail)" >Supprimer cette personne</button>


<div class="panel panel-success">
    <div class="panel-heading">Budget associé à {{ detail.firstName  }} {{ detail.lastName  }}  </div>

    <table class="table">
        <tr>
            <th>#id</th>
            <th>Nom</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>

        <tr  ng-repeat="budget in detail.budgets" >
            <th>{{budget.budgetId}}</th>
            <td>{{budget.name}}</td>
            <td>{{budget.globalAmount}}</td>
            <td><a href="#/budgests/{{budget.budgetId}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <!--<a href=""> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>-->&nbsp;&nbsp;
                <a href=""> <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="delete(budget)" ></span> </a>
            </td>
        </tr>
    </table>
</div>



<div class="panel panel-success">
    <div class="panel-heading">Évènement associé à {{ detail.firstName  }} {{ detail.lastName  }} </div>

    <table class="table">
        <tr>
            <th>#id</th>
            <th>Nom</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>

        <tr  ng-repeat="event in detail.events" >
            <th>{{event.eventId}}</th>
            <td>{{event.name}}</td>
            <td>{{event.amount}}</td>
            <td><div ng-if="event.ownerId = detail.personId">
                <a class="glyphicon glyphicon-th-list" aria-hidden="true"  ng-click="updateEventShow(event)" ></a>&nbsp;&nbsp;
                <!--<a href="#/events/{{event.budgetId}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> </a>&nbsp;&nbsp;
                <a href=""> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </a>-->&nbsp;&nbsp;
                <a href=""> <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="delete(event)" ></span> </a>
            </div>
            </td>
        </tr>
    </table>
</div>

<div ng-show="event_update">
    Modification de l'évènement :

    <form novalidate role="form" name="updateEventForm">
        <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" ng-model="eventUpdate.name" required class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="global_amount">Montant :</label>
            <input type="numeric" ng-model="eventUpdate.amount" required class="form-control" id="global_amount">

        </div>
        <div role="alert">
        <span class="error" ng-show="addEventForm.$error.required">
        Au moins un champ est vide !</span>
        </div>

        <button type="button" class="btn btn-default" ng-click="reset()">Annuler</button>
        <button type="submit" class="btn btn-default" ng-click="updateEventAction(eventUpdate)" ng-disabled="myForm.$invalid">Valider</button>
    </form>
</div>