.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.grey{
  background-color: #f5f5f5;
}

.footer-custom{
  margin-top: -10px;
  margin-bottom: 5px;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.padding-5{
  padding: 5px;
}

.padding-15{
  padding: 15px;
}

.login-dropdown{
  padding:15px;
}

.icon{
  width: 40px;
  height: 40px;
}

.align-left{
  text-align: left;
}

.jumbotron .btn{
  font-size: 14px;
  padding: 6px 12px;
}

.margin-bot-5{
  margin-bottom: 5px;
}
.margin-left-5{
  margin-left: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.pointer{
  cursor:pointer;
}

.form-control:focus {
  border-color: #f0ad4e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 173, 78, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 173, 78, 0.6);
}

.input-error{
  border-color: #a84342;
}

.red{
 color: #a84342;
}

/* Remove by fc 06/07/2016 */
/*.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}*/

.dropdown-menu {
  text-align: center;
}

.circle-multiline {
  display: table-cell;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgb(247, 213, 165);
  color: white;
}

.flat-left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flat-right{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.flat-top{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.flat-bottom{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.circle-multiline > input {
  color : black;
}

.margin-bottom-35{
  margin-bottom: 35px;
}

.margin-top-less-20{
    margin-top: -20px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: white;
  opacity: 0.7;
}

.input-error{
  border-color: #ce2929;
}